/.idea
/.vagrant
/.vscode
/nbproject
/node_modules
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/storage
/public/svg
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
